<h3 class="title">Sign in</h3>

<form action="/admin" method="POST" class="login">
  <label for="username"><b>Username</b></label>
  <input
    type="text"
    placeholder="Enter Your Username"
    name="username"
    autocomplete="off"
  />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Your Password" name="password" />

  <input type="submit" value="Login" class="btn" />
</form>
<a href="#" class="registerButton">Register</a>
<!-- <form action="/register" method="POST" class="a7 hidden">
  <label for="username"><b>Username</b></label>
  <input
    type="text"
    placeholder="Enter Your Username"
    name="username"
    autocomplete="off"
  />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Your Password" name="password" />

  <input type="submit" value="Register" class="btn" />
</form> -->
