<h1>About</h1>

<p>
  
    This is a simple CRUD application that allows you to maintain a personal
    book collection.

    <br />
    <br />
    You can <strong> add</strong>, &nbsp;<strong>edit</strong>, &nbsp;<strong>delete</strong>, &nbsp;and <strong>view</strong> your
    books.
    <br />
    <br />
    This Website is built using <strong>Node.js</strong>, &nbsp;<strong>Express</strong>, &nbsp;and <strong>MongoDB</strong>.
    &nbsp;It uses <strong>EJS</strong> as the templating engine and <strong>CSS</strong> for styling.
    <br />
    <br />
    <!-- You can view the source code on
    <a href="https://github.com/Ahmedelshinnawi/Back-End-Summer-Training"
      >Github</a
    > -->
    <!-- <br />
    <br /> -->
    It is a project for <strong>Software Construction Course</strong>, &nbsp;FCIS Mansoura University.
    <br />
    <br />

    <h3>Team Members:</h3>
    <ul>
      <b><li>Ahmed Alaaeldin Elshinnawi</li></b>
      <b><li>Mohammed Hassan Youssef</li></b>
      <b><li>Mohammed Helal Elsherbiny</li></b>
      <b><li>Mahmoud Mohamed Elhadidy</li></b>
    </ul>
    <br />
    <br />
    <strong><a href="/admin">Login</a></strong> to get started.
    <br />
    <br />
</p>