<h1>About</h1>

<p>
  This is a simple CRUD application that allows you to maintain a personal book
  collection.

  <br />
  <br />
  You can <strong> add</strong>, &nbsp;<strong>edit</strong>,
  &nbsp;<strong>delete</strong>, &nbsp;and <strong>view</strong> your books.
  <br />
  <br />
  This Website is built using <strong>Node.js</strong>,
  &nbsp;<strong>Express</strong>, &nbsp;and <strong>MongoDB</strong>. &nbsp;It
  uses <strong>EJS</strong> as the templating engine and
  <strong>CSS</strong> for styling.
  <br />
  <br />
  <!-- You can view the source code on
    <a href="https://github.com/Ahmedelshinnawi/Back-End-Summer-Training"
      >Github</a
    > -->
  <!-- <br />
    <br /> -->
  This Project was meant to be the Final Project for
  <strong>Backend Summer Training</strong>, &nbsp;FCIS Masnoura University, But
  got developed to be the Final Project for
  <strong>Software Construction Course</strong>, &nbsp;FCIS Mansoura University.
  <br />
  <br />

  <br />
  <strong><a href="/admin">Login</a></strong> to get started.
  <br />
  <br />
</p>
