<h1>About</h1>

<p>This is a simple CRUD application that allows you to maintain a personal book collection. You can add, edit, delete, and view your books.
    <br>
    <br>
    This application is built using Node.js, Express, and MongoDB. It uses EJS as the templating engine and CSS for styling.
    <br>
    <br>
    You can view the source code on <a href="https://github.com/Ahmedelshinnawi/Back-End-Summer-Training">Github</a>
    <br>
    <br>
    It is the final project for Backend Summer Training 2024, FCIS Mansoura University.
    <br>
    <br>
    <a href="/admin">Login</a> to get started.
    <br>
    <br>
</p>