<h1><%= data.title %></h1>
<h3>Author: &nbsp;<%= data.body %></h3>
<article>Created At: &nbsp;<%= data.createdAt.toDateString()%></article>
<article>Updated At: &nbsp;<%= data.updatedAt.toDateString() %></article>
